doctype html
html
  head
    meta(charset='UTF-8')
    include ./includes/styles.pug
    include ./includes/scripts.pug
    title #{detail.title}-XSCMS
  body
    #app
      include ./includes/header.pug
      .post-content
        include ./includes/content.pug
        h1 #{detail.title}
        .content-wrapper !{detail.content}
      //- .content-warpper(v-html='detail.content')
  script.
    new Vue({
      el: '#app',
      data: function() {
        return { activeIndex: '1' }
      },
      methods: {
        handleSelect(key, keyPath) {
          console.log(key, keyPath);
        }
      }
    })
