doctype html
html
  head
    meta(charset='UTF-8')
    include ./includes/styles.pug
    include ./includes/scripts.pug
  body
    #app
      include ./includes/header.pug
      a(href='/post/2') 新的文章
      a(href='/post/3') 再来一篇文章
      each item in data
        a(href= item.code)
          span= item.title
  script.
    window.vue = new Vue({
      el: '#app',
      data: function() {
        return { activeIndex: '1' }
      },
      methods: {
        handleSelect(key, keyPath) {
          console.log(key, keyPath);
        }
      }
    })
