doctype html
html
  head
    meta(charset='UTF-8')
    include ./includes/styles.pug
    include ./includes/scripts.pug
  body
    #app
      include ./includes/header.pug
      .content 这是第几片文章 #{id}
  script.
    window.vue = new Vue({
      el: '#app',
      data: function() {
        return { activeIndex: '1' }
      },
      methods: {
        handleSelect(key, keyPath) {
          console.log(key, keyPath);
        }
      }
    })
