.content-content__2gK8HBQW {
  flex: 1;
  margin: 10px 10px 0 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  overflow: auto;
}
.home-count_charts__1jrUQWy2 {
  width: 100%;
  height: 300px;
  margin-top: 20px;
}
.home-status_charts__1KS5iCeO {
  width: 100%;
  height: 300px;
  margin-top: 20px;
}
.home-buttonGroup__25ycpxfh {
  margin: 10px 0;
}
.common-hidden__3sqp1c9y {
  display: none !important;
}
.common-centerImage__1SuxCRDJ {
  display: block;
  margin: 0 auto;
}
.topnav-topBox__DHuroaYz {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 64px;
  box-shadow: 1px 1px 0 #ebebeb;
  background-color: #fff;
  z-index: 1;
}
.topnav-topBox__DHuroaYz .topnav-logo__c2wIDxRi {
  height: 50px;
  width: 150px;
  margin: 7px 0 0 30px;
  cursor: pointer;
}
.topnav-topBox__DHuroaYz .topnav-rightMenu__1NyF4A4_ {
  display: inline-block;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}
.left-leftBox__3HA82lcf {
  background: #ffffff;
  border-right: 1px solid #e8e8e8;
}
.bread-breadBox__3dTdtseD {
  height: 42px;
  line-height: 42px;
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  padding-left: 15px;
  background-color: #fff;
  padding-top: 10px;
}
.main-contentBox__2qS1HWXb {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
  top: 64px;
  background: #f0f2f5;
}
.main-rightBottomBox__2Sl1VPH7 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}
.login-bg__1pagKQwH {
  z-index: -1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.login-modal__3zVGNj00 {
  opacity: 0.8;
  z-index: 2;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #95bfd3, #0099ffe5);
}
.login-title__1y16zVNw {
  font-size: 30px;
  text-align: center;
}
.login-inputWrapper__3ZVKcS0j {
  position: absolute;
  top: 300px;
  right: 0;
  left: 0;
  z-index: 3;
  width: 350px;
  margin: auto;
}
.login-space__2hI8Thuj {
  width: 100%;
  height: 20px;
}
.style-contentBox__1vq4X01Y {
  display: flex;
}
.style-leftBox__1bTyb4ER {
  width: 200px;
  height: 500px;
  overflow-y: scroll;
  display: inline-block;
}
.style-tabRight__1AwldEMo {
  margin-right: 20px !important;
}
.style-rightBox__1yv3eIGQ {
  flex: 1;
  max-height: 500px;
  overflow-y: scroll;
  padding-right: 30px;
  padding-left: 10px;
}
.style-item__33ttPz69 {
  text-align: left;
  flex: 1;
  text-align: center;
}
.style-atricleBox__32YMNBg7 {
  width: 70%;
  box-sizing: border-box;
  padding-left: 15px;
  display: inline-block;
}
.style-rightBox__1cs3pmTP {
  width: 30%;
  float: right;
}
.style-scrollbox__Ve_JDW3a {
  overflow-y: scroll;
}
.style-formItem__2mEQGj8a {
  margin-bottom: 5px !important;
}
.style-buttonBox__2oDbvgb4 {
  box-sizing: border-box;
  padding: 4px 20px;
  text-align: center;
}
.style-rightButton__3F6zQqok {
  float: right;
}
.style-editor__22rKOWa7 {
  width: 100%;
  height: auto;
  min-height: 600px;
}
.style-categoryBox__2uB5EJT-,
.style-tagBox__1ltMgA01 {
  box-sizing: border-box;
  padding: 10px 20px;
}
.style-tagBox__1ltMgA01 .style-tags__qUol10BV {
  margin: 10px 0;
}
.style-tagItem__56gHEsYi {
  margin-top: 8px!important;
}
.style-editor__22rKOWa7 {
  min-height: 500px;
}

/*# sourceMappingURL=app.03c6cad52229b3178d4f.css.map*/