@charset "UTF-8";

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family)
}

a {
  text-decoration: none;
  color: var(--color);
}

.border {
  border-bottom: solid 1px #e6e6e6;
}

.menu-cantainer {
  max-width: calc(var(--max-content-width) + 40px);
  margin: 0 auto;
}

.el-menu {
  border: none !important;
}

.el-menu-item a {
  color: #909399;
}

.el-menu-item a:hover {
  color: var(--hover-color);
}

.postitem {
  color: var(--font-color);
  padding-bottom: 2px;
  font-size: var(--font-size);
}

.postitem a {
  color: #303133;
}

.breadcrumb {
  padding: 10px 0;
  margin: 15px 0;
  background-color: rgba(235, 235, 235, 0.5);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.content {
  width: 100%;
  /* display: flex; */
  padding-top: 30px;
}

.left-wrapper {
  float: left;
  width: 70%;
  margin-right: 15px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-wrapper .box-card {
  width: 48%;
  margin-bottom: 15px;
}

.right-wrapper {
  max-width: 270px;
  display: inline-block;
}

.right-wrapper .box-card {
  width: 100%;
  margin-bottom: 15px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-content {
  max-width: 1000px;
  margin: 0 auto;
}
.post-content h1{
  text-align: center;
}

.post-content img{
  max-width: 1000px;
}

.content-wrapper {
  font-size: 14px;
}

.content-wrapper p {
  text-indent: 30px;
}