el-breadcrumb(separator-class='el-icon-arrow-right')
  el-breadcrumb-item(:to="{ path: '/' }") &#x9996;&#x9875;
  el-breadcrumb-item &#x6D3B;&#x52A8;&#x7BA1;&#x7406;
  el-breadcrumb-item &#x6D3B;&#x52A8;&#x5217;&#x8868;
  el-breadcrumb-item &#x6D3B;&#x52A8;&#x8BE6;&#x60C5;